@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
$primary: #f36a63;
$theme: #252830;
$theme-dark: darken($theme, 4);
$gap: 0.2rem;

body, html {
  margin: 0;
  height: 100%;
  font-size: 10px;
  font-family: "Rajdhani";
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.calculator {
  width: 100%;
  height: 100vh;
  background: $theme-dark;
}
.display {
  min-height: 10rem;
  height: 20%;
  max-width: 100%;
  background: $theme-dark;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: gray;
  padding: 0 1rem;
  font-size: 7rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin item($color) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background: darken($color, 3);
  }
  &:active {
    background: darken($color, 4);
    box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    font-size: 3.5rem;
  }
}
.controls {
  height: 80%;
  max-height: calc(100% - 10rem);
  display: flex;
  justify-content: space-between;
  font-size: 4rem;
  &__num {
    height: 100%;
    width: 80%;
    max-width: calc(100% - 8rem);
    display: grid;
    grid-gap: $gap;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    &__item {
      @include item($theme);
      font-weight: 200;
      color: gray;
      .fas {
        font-size: 3rem;
      }
      &:last-child {
        grid-column: 2 / 4;
      }
      &.not-btn {
        background: none;
        &:hover {
          background: none;
        }
        &:active {
          background: none;
          box-shadow: none;
        }
      }
    }
  }
  &__op {
    height: 100%;
    width: 20%;
    min-width: calc(8rem - 0.2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__item {
      @include item($primary);
      height: calc(20% - 0.15rem);
      color: $theme;
      font-weight: 500;
    }
  }
}